version: '3.8'
services:
  # Frontend service (Nginx)
  frontend-app:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "8085:80"
    depends_on:
      - backend-app

  # Backend service (Node.js)
  backend-app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "4000:4000"  # Unga server.js-la irukura port 4000 correct-ah map aayidum
