version: '3.8'
services:
  # Frontend service
  frontend-app:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "8085:80"
    depends_on:
      - backend-app

  # Backend service
  backend-app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
